In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [2]:
# Since our data is seperated by semicolons we need to do sep = ";"
data = pd.read_csv('student-mat.csv',sep = ";")

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
data = data[["G1","G2","G3","studytime","failures","absences"]]

In [5]:
predict = "G3"

X = np.array(data.drop([predict],1)) #Features
y = np.array(data[predict]) #Labels

In [6]:
# Splitting data into train and test
x_train, x_test , y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size = 0.1)