In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('D:\\ddc\\14_days_challenge\\soumik\\TataSteel_HistoricData.csv')
print(df)

        Date  series    OPEN    HIGH     LOW   PREV. CLOSE     ltp   close   \
0   25-Aug-22      EQ  107.05  107.90  105.75        106.55  106.50  106.25
1   24-Aug-22      EQ  107.55  108.15  105.75        107.60  106.30  106.55
2   23-Aug-22      EQ  104.20  108.25  103.50        105.05  107.90  107.60
3   22-Aug-22      EQ  109.50  109.60  104.70        110.05  105.20  105.05
4   19-Aug-22      EQ  112.55  112.90  109.55        112.55  109.75  110.05
5   18-Aug-22      EQ  112.50  113.00  111.40        112.50  112.70  112.55
6   17-Aug-22      EQ  113.50  113.50  112.25        113.00  112.40  112.50
7   16-Aug-22      EQ  113.70  113.70  111.10        112.65  113.00  113.00
8   12-Aug-22      EQ  109.35  112.90  108.80        109.10  112.80  112.65
9   11-Aug-22      EQ  110.30  110.65  108.60        109.20  109.00  109.10
10  10-Aug-22      EQ  107.90  109.90  106.50        107.20  109.20  109.20
11  08-Aug-22      EQ  107.85  108.15  106.70        107.35  107.25  107.20
12  05-Aug-22      EQ  107.65  109.25  107.10        107.70  107.30  107.35
13  04-Aug-22      EQ  107.50  109.50  106.05        107.05  107.60  107.70
14  03-Aug-22      EQ  107.00  108.45  106.00        107.00  107.10  107.05
15  02-Aug-22      EQ  108.00  108.00  105.35        108.25  106.90  107.00
16  01-Aug-22      EQ  110.50  111.45  106.15        107.60  108.25  108.25
17  29-Jul-22      EQ  103.00  109.30  102.15        100.35  107.80  107.60
18  28-Jul-22      EQ   98.10  102.00   97.15        959.40  100.20  100.35
19  27-Jul-22      EQ  951.00  961.55  943.60        949.50  960.40  959.40
20  26-Jul-22      EQ  972.00  976.70  946.05        960.70  947.95  949.50
21  25-Jul-22      EQ  935.00  964.85  933.60        936.05  964.70  960.70

     vwap     52W H   52W L     VOLUME               VALUE   No of trades
0   106.98  1,476.00   97.15   42186335   4,51,30,82,704.70         172570
1   106.69  1,476.00   97.15   55686404   5,94,12,87,674.10         247974
2   106.67  1,476.00   97.15   70531639   7,52,38,72,406.95         262215
3   106.79  1,476.00   97.15   74037526   7,90,67,95,316.15         402941
4   111.08  1,534.50   97.15   57134813   6,34,67,85,640.60         227022
5   112.33  1,534.50   97.15   49396425   5,54,85,15,767.75         179401
6   112.85  1,534.50   97.15   54008422   6,09,49,99,817.65         207669
7   112.55  1,534.50   97.15   69207437   7,78,91,00,716.70         238391
8   111.88  1,534.50   97.15   95942333  10,73,36,10,778.10         307921
9   109.49  1,534.50   97.15   75321498   8,24,71,81,079.65         215699
10  108.23  1,534.50   97.15   73880698   7,99,64,57,230.30         241058
11  107.35  1,534.50   97.15   41384943   4,44,25,43,901.95         162485
12  108.04  1,534.50   97.15   54469112   5,88,50,13,963.00         179580
13  107.86  1,534.50   97.15   79526154   8,57,78,18,116.05         275745
14  106.93  1,534.50   97.15   61428846   6,56,83,25,454.70         235976
15  106.84  1,534.50   97.15   64935371   6,93,76,71,692.00         279505
16  108.42  1,534.50   97.15  125365761  13,59,21,94,355.85         468883
17  106.71  1,534.50   97.15  166959934  17,81,60,38,805.05         618198
18   99.48  1,534.50   97.15  137156107  13,64,43,36,927.10         628262
19  953.43  1,534.50  827.00    5255902   5,01,11,19,637.70         144783
20  959.86  1,534.50  827.00   12626469  12,11,95,95,065.95         228226
21  955.02  1,534.50  827.00    9963563   9,51,53,99,224.15         205117

In [5]:
rows, columns = df.shape
print('rows',rows)
print('columns',columns)

rows 22
columns 14

In [6]:
print(df.head(6))

print(df.tail(6))

       Date  series    OPEN    HIGH     LOW   PREV. CLOSE     ltp   close   \
0  25-Aug-22      EQ  107.05  107.90  105.75        106.55  106.50  106.25
1  24-Aug-22      EQ  107.55  108.15  105.75        107.60  106.30  106.55
2  23-Aug-22      EQ  104.20  108.25  103.50        105.05  107.90  107.60
3  22-Aug-22      EQ  109.50  109.60  104.70        110.05  105.20  105.05
4  19-Aug-22      EQ  112.55  112.90  109.55        112.55  109.75  110.05
5  18-Aug-22      EQ  112.50  113.00  111.40        112.50  112.70  112.55

    vwap     52W H   52W L    VOLUME              VALUE   No of trades
0  106.98  1,476.00   97.15  42186335  4,51,30,82,704.70         172570
1  106.69  1,476.00   97.15  55686404  5,94,12,87,674.10         247974
2  106.67  1,476.00   97.15  70531639  7,52,38,72,406.95         262215
3  106.79  1,476.00   97.15  74037526  7,90,67,95,316.15         402941
4  111.08  1,534.50   97.15  57134813  6,34,67,85,640.60         227022
5  112.33  1,534.50   97.15  49396425  5,54,85,15,767.75         179401
        Date  series   OPEN    HIGH     LOW   PREV. CLOSE     ltp   close   \
16  01-Aug-22      EQ  110.5  111.45  106.15        107.60  108.25  108.25
17  29-Jul-22      EQ  103.0  109.30  102.15        100.35  107.80  107.60
18  28-Jul-22      EQ   98.1  102.00   97.15        959.40  100.20  100.35
19  27-Jul-22      EQ  951.0  961.55  943.60        949.50  960.40  959.40
20  26-Jul-22      EQ  972.0  976.70  946.05        960.70  947.95  949.50
21  25-Jul-22      EQ  935.0  964.85  933.60        936.05  964.70  960.70

     vwap     52W H   52W L     VOLUME               VALUE   No of trades
16  108.42  1,534.50   97.15  125365761  13,59,21,94,355.85         468883
17  106.71  1,534.50   97.15  166959934  17,81,60,38,805.05         618198
18   99.48  1,534.50   97.15  137156107  13,64,43,36,927.10         628262
19  953.43  1,534.50  827.00    5255902   5,01,11,19,637.70         144783
20  959.86  1,534.50  827.00   12626469  12,11,95,95,065.95         228226
21  955.02  1,534.50  827.00    9963563   9,51,53,99,224.15         205117

In [9]:
print(df.iloc[3])

Date                     22-Aug-22
series                          EQ
OPEN                         109.5
HIGH                         109.6
LOW                          104.7
PREV. CLOSE                 110.05
ltp                          105.2
close                       105.05
vwap                        106.79
52W H                     1,476.00
52W L                        97.15
VOLUME                    74037526
VALUE            7,90,67,95,316.15
No of trades                402941
Name: 3, dtype: object

In [10]:
print(df.iloc[2,3])

108.25

In [11]:
print(df.iloc[2,2:3])

OPEN     104.2
Name: 2, dtype: object

In [12]:
df.describe()

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W L,VOLUME,No of trades
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,2.200000e+01,22.000000
mean,223.440909,226.802273,220.354545,261.654545,224.100000,223.936364,223.885455,196.675000,6.710935e+07,278619.136364
std,296.659817,301.352059,293.152926,332.846430,298.381841,297.974469,297.816316,256.359876,3.884543e+07,134171.081903
min,98.100000,102.000000,97.150000,100.350000,100.200000,100.350000,99.480000,97.150000,5.255902e+06,144783.000000
25%,107.512500,108.300000,105.750000,107.237500,107.137500,107.087500,106.862500,97.150000,5.054942e+07,205755.000000
50%,108.675000,109.750000,106.600000,108.675000,108.075000,107.975000,108.135000,97.150000,6.318211e+07,237183.500000
75%,112.537500,112.975000,110.712500,112.625000,112.625000,112.537500,112.217500,97.150000,7.500050e+07,278565.000000
max,972.000000,976.700000,946.050000,960.700000,964.700000,960.700000,959.860000,827.000000,1.669599e+08,628262.000000